body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    background-image: url(https://i.picsum.photos/id/10/2500/1667.jpg?hmac=J04WWC_ebchx3WwzbM-Z4_KC_LeLBWr5LZMaAkWkF68);
    background-position: center;
    background-attachment: fixed;
    background-clip: content-box;
    background-size: cover;
    background-color: #000;
    font-family:'Courier New', Courier, monospace;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 18px;
}

hr {
    width: 100%;
}


.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px 0 20px 0;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 10px 10px;

}

header h1 {
    margin: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    text-shadow: 1px 1px 2px #666;
}

header p#description {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 2px #666;

}

#survey-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

.form-field label,
.form-field .form-radio-label,
.form-field .form-checkbox-label {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px 0 5px 0;
    font-weight: bold;
}

.form-field input,
.form-field textarea {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    font-size: 16px;
}

.form-field select{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='28' viewBox='0 0 24 24' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    background-color: #fff;
    cursor: pointer;
}

.form-field .form-radio,
.form-field .form-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-field .form-radio input[type="radio"],
.form-field .form-checkbox input[type="checkbox"]  {
    transform: scale(1.3);
    margin-top: -1px;
    margin-right: 8px;
}

.form-field .form-radio label,
.form-field .form-checkbox label  {
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
}

.form-button {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.form-button button {
    padding: 10px;
    font-size: 18px;
    min-width: 100%;
    background-color: #059600;
    margin: auto;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form-button button:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}



@media  (max-width: 800px) {
    #survey-form {
        width: 100%;
    }

    .form-field {
        padding: 0 10px 0 10px;

    }

    .form-button button {
        margin: 0 10px 0 10px;

    }
 }
